/* global styles */
:root {
  --white: #E6EBE0;
  --black: #0A0C08;
  --grey: #CDD7C1;
  --primary: #ED6A5A;
  --light-primary: #F39C91;
  --secondary: #9BC1BC;
  --tertiary: #F4F1BB;
  --accent: #36C9C6;

  font-family: 'Mulish', sans-serif;
}

body {
  margin: 0px;
  background-color: var(--white);
}

header {
  max-width: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: auto;
  height: 60px;
}

/* header links */
.link {
  color: var(--black);
  font-size: 22px;
  font-weight: 700;
  margin-left: 30px;
  text-decoration: none;
  padding: 15px;
  border: 1px solid var(--black);
  border-radius: 15px;
}

/* header links on hover */
.link:hover {
  text-decoration: underline;
}

/* header link for current page */
#currentPage {
  background-color: var(--tertiary)
}

/* footer styling */

.footer {
  max-width: 100%;
  padding: 20px 70px ;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons {
  font-size: 30px
}

.social-icons > i {
  margin-right: 10px;
}

.acknowledgment {
  max-width: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 80px;
  padding: 40px 10px;
  background-color: var(--tertiary);
  border-radius: 20px;
}

/* post styling */
.post {
  background-color: var(--secondary);
  width: 50%;
  margin-bottom: 50px;
  padding: 40px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.post-title {
  font-size: 150%;
}

.post-date {
  font-style: italic;
  font-size: small;
}

.post-content {
  border-top: 2px dotted grey;
  padding: 20px;
}

.post-tags {
  font-style: italic;
  text-decoration: underline;
}

.post-tags > a {
  text-decoration: none;
}

/* archive styles */

.expand {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 20px 0px 0px;
}

.expand:hover {
  background: radial-gradient(circle, rgba(235,235,235,1) 0%, rgba(192,192,192,1) 100%);
  cursor: pointer;
}

.hidden {
  display: none;
}

/* login styles */

.login {
  width:50%;
  background-color: var(--grey);
  padding: 40px;
  border-radius: 30px;
}

.login-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.logo-name {
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-socials {
  font-size: 26px;
}

.login-socials > i {
  margin: 0px 5px;
}

.login-socials > i:hover {
  cursor: pointer;
  color: var(--accent);
}

.divider{
  text-align: center;
  margin: 20px 0px;
  font-size: 14px;;
}
.divider > span{
 position: relative;
 display: inline-block;
}
.divider > span:before, .divider > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 2px solid var(--black);
 width: 100px; /* half of limiter*/
 margin: 0 10px;
}
.divider > span:before {
 right: 100%;
}
.divider > span:after {
 left: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form > input {
  width: 100%;
  margin: 10px 0px;
  padding: 10px 20px;

  border: 2px solid var(--accent);
  border-radius: 15px;

  background-color: var(--grey);
  color: var(--black);
}

.login-form > .button {
  margin: 10px 0px;
  padding: 10px 40px;
  border: 2px solid var(--black);
  border-radius: 25px;
  background-color: var(--accent);

  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.login-form > .button:hover {
  background-color: var(--primary);
  color: var(--black);
  cursor: pointer;
}

.register-button {
  margin: 10px 0px;
  padding: 10px 40px;
  border: 2px solid var(--black);
  border-radius: 25px;
  background-color: var(--accent);

  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.register-button:hover {
  background-color: var(--primary);
  color: var(--black);
  cursor: pointer;
}

.errorMessage {
  color: red;
}

/* create post styles */

.create {
  width:50%;
  background-color: var(--grey);
  padding: 60px;
  border-radius: 30px;
}

.create > h1 {
  text-align: center;
  border-bottom: 2px dashed grey;
  padding: 40px;
}

.createForm > .button {
  margin: 10px 0px;
  padding: 10px 40px;
  border: 2px solid var(--black);
  border-radius: 25px;
  background-color: var(--accent);

  font-size: 16px;
  font-weight: 700;
  color: var(--black);
  text-decoration: none;
}

.createForm > .button:hover {
  background-color: var(--primary);
  color: var(--black);
  cursor: pointer;
}